.container_profile_workspace {
    position: relative;
    .title {
        letter-spacing: 3px;
    }

    .profile_workspace {
        display: flex;
        .container_ {
            // padding: 0px !important;
            padding-top: 60px;
            padding-bottom: 60px;
            height: 100%;
        }
        #name_workspace {
            width: 30%;
            transition: all 0.3s linear;
            opacity: 1;
            transform-origin: bottom left;
            .container_ {
                background-color: #ff4d4d;
                height: 100%;
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                

                .wrapper {
                    .preview {
                        .avatar {
                            width: 50px;
                            height: 50px;
                            
                            .image {
                                width: 100%;
                                height: 100%;
                                border-radius: 25px;
                            }
                        }
                    }
                    .name {
                        .form {
                            display: flex;

                            input {
                                margin-right: -3px;
                            }
                            button {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                        }
                    }
                    .avatar {
                        .sample_avatar {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            // border: 1px solid #000;

                            .choose_sample {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .text {
                                    border-radius: 50px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 15px 15px 15px 15px;
                                    background-color: #85FFBD;
                                    background-image: linear-gradient(225deg, #85FFBD 0%, #FFFB7D 50%, #ffffff 100%);
                                    margin-right: 5px;
                                    cursor: pointer;
                                }
                                .box {
                                    border: 1px solid gray;
                                    background-color: #85FFBD;
                                    background-image: linear-gradient(135deg, #85FFBD 0%, #FFFB7D 50%, #ffffff 100%);
                                    border-radius: 20px;
                                    padding: 0.5rem 0.5rem 0 0.5rem;
                                    margin-left: 5px;
                                }
                            }

                            .progress_bar {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #purpose_workspace {
            width: 30%;
            transition: all 0.3s linear;
            opacity: 1;
            transform-origin: center center;
            .container_ {
                background-color: #66b3ff;
                height: 100%;
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .wrapper {
                    // margin-top: 130px;
                    .form {
                        display: flex;

                        input {
                            margin-right: -3px;
                        }
                        button {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }
                }
            }
        }
        #create_first_user {
            width: 40%;
            transition: all 0.3s linear;
            opacity: 1;
            transform-origin: bottom right;
            .container_ {
                background-color: #cc0099;
                height: 100%;
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .wrapper {
                    width: 90%;
                }
            }

            .input {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        #name_workspace:hover, #purpose_workspace:hover, #create_first_user:hover {
            transform: scale(1.2);
        }


    }

    .submit_profile {
        position: absolute;
        right: 15px;
        top: 195px;
        background-color: #ffffff;
        // height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button_submit_create_profile {
            
        }
    }

    .preview_profile_workspace {
        width: 400px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 70px;
        padding: 1rem;

        .infor {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;
            .avatar {
                width: 80px;
                height: 80px;
                padding: 10px;
                background-color: #e6f2ff;
                border-radius: 40px;
                margin-right: 15px;
                .image {
                    width: 100%;
                    height: 100%;
                    border-radius: 40px;
                }
            }

            .name {
                letter-spacing: 2px;
            }
        }

        .purpose {
            letter-spacing: 2px;
        }
    }
}
