.create_new_channel_popup-content {
    width: 700px !important;
    background-color: #0093E9 !important;
    background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%) !important;
    border-radius: 40px;

    .form_create_new_channel {
        padding: 20px;
        border-radius: 5px;

        h4 {
            color: white
        }
        .channel_name {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 1.5rem;
            label {
                width: 25%;
                margin-bottom: 0;
                font-size: 1.1rem;
                font-weight: bold;
                color: #fff;
            }
            input {
                width: 75%;
            }
        }
        .member_of_channel {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 1.5rem;
            position: relative;
            label {
                width: 25%;
                margin-bottom: 0;
                font-size: 1.1rem;
                font-weight: bold;
                color: #fff;
            }
            input {
                width: 75%;
            }
            .search_member {
                width: 8%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;

                .wrapper_search {
                    width: 35px;
                    height: 35px;
                    background-color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .button_create_new_channel {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .cancel {
                width: 110px;
                border: none;
                margin-right: 70px;
                border-radius: 40px;
            }

            .accept {
                width: 110px;
                border: none;
                border-radius: 40px;
            }
            .cancel:active, .accept:active {
                outline: none;
            }
            .cancel:focus, .accept:focus {
                outline: none;
            }
        }
    }
}