.create_new_channel_popup-content {
    width: 700px !important;
    background-color: #0093E9 !important;
    background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%) !important;
    border-radius: 40px;

    .form_create_new_channel {
        padding: 20px;
        border-radius: 5px;

        h4 {
            color: white
        }
        input:focus {
            outline: none;
        }
        .channel_name {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 1.5rem;
            label {
                width: 25%;
                margin-bottom: 0;
                font-size: 1.1rem;
                font-weight: bold;
                color: #fff;
            }
            input {
                width: 75%;
            }
        }
        .member_of_channel {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 1.5rem;
            position: relative;
            label {
                width: 25%;
                margin-bottom: 0;
                font-size: 1.1rem;
                font-weight: bold;
                color: #fff;
            }
            .mentions {
                width: 75%;
                display: block;
                height: calc(1.5em + .75rem + 2px);
                
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border-radius: .25rem;

                input {
                    border: none;
                    height: 100%;
                    padding: .375rem .75rem;
                }

            }
            .search_member {
                width: 8%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;

                .wrapper_search {
                    width: 35px;
                    height: 35px;
                    background-color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .mentions__suggestions {
                margin-top: 30px !important;
            }
            .mentions {
                margin: 1em 0;
              }
              
              .mentions__control {
                display: inline-block;
                width: 100%;
                height: 100%;
              }
              .mentions__higlighter {
                padding: 1px;
                border: 2px inset transparent;
                height: 100%;
              }
              .mentions__input {
                padding: 5px;
                border: 2px inset;
              }
              
              .mentions--multiLine .mentions__control {
                font-family: monospace;
                font-size: 14pt;
                border: 1px solid silver;
              }
              .mentions--multiLine .mentions__highlighter {
                padding: 9px;
              }
              .mentions--multiLine .mentions__input {
                padding: 9px;
                min-height: 63px;
                outline: 0;
                border: 0;
              }
              
              .mentions__suggestions__list {
                background-color: #0093E9;
                background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
                border: 1px solid rgba(0, 0, 0, 0.15);
                font-size: 15pt;
                font-style: italic;
              }
              
              .mentions__suggestions__item {
                padding: 10px 30px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
              }
              
              .mentions__suggestions__item--focused {
                background-color: #FFDEE9;
                background-image: linear-gradient(225deg, #FFDEE9 0%, #B5FFFC 100%);
              }
              
              .mentions__mention {
                background-color: transparent !important;
                
              }
              
        }
        .button_create_new_channel {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .cancel {
                width: 110px;
                border: none;
                margin-right: 70px;
                border-radius: 40px;
            }

            .accept {
                width: 110px;
                border: none;
                border-radius: 40px;
            }
            .cancel:active, .accept:active {
                outline: none;
            }
            .cancel:focus, .accept:focus {
                outline: none;
            }
        }
    }
}