.chatroom#chatroom {
    height: 100vh;
    background-color: #F4D03F;
    background-image: linear-gradient(225deg, #F4D03F 0%, #16A085 100%);
    padding: 5% 0 0 10%;
    .wrapper {
        display: flex;
        height: 90%;
        width: 90%;
        box-shadow: -6px 10px 111px 9px rgba(0,0,0,0.75);
        border-radius: 40px;
        min-width: 800px;
        position: relative;
        .left {
            background-color: #0093E9;
            background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
            
            padding: 20px;
            width: 300px;
            height: 100%;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;

            .container_left {
                .infor_profile_workspace {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 12px;
                    .avatar {
                        width: 50px;
                        height: 50px;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 25px;
                        }
                    }
                    .name {
                        color: white;
                        font-weight: bold;
                        letter-spacing: 0.5px;
                        font-size: 1.2rem;
                        width: 57%;
                        text-align: left;
                        margin-bottom: 0px !important;
                        cursor: default;
                    }
                    .edit_profile {
                        position: relative;
                        background-color: rgb(255, 255, 255);
                        padding: 8px;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
                .purpose {
                    font-size: 0.9rem;
                    color: rgb(86, 86, 87);
                    letter-spacing: 0.5px;
                    font-style: italic;
                    padding: 7px 0 7px 5px;
                    background-color: #fff;
                    border-radius: 5px;
                    cursor: default;
                    text-overflow: ellipsis;
                    height: 36px;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .userName {
                    font-size: 0.9rem;
                    color: rgb(86, 86, 87);
                    letter-spacing: 0.5px;
                    font-style: normal;
                    font-weight: bold;
                    padding: 7px 0 7px 5px;
                    background-color: #fff;
                    border-radius: 5px;
                    cursor: default;
                    text-overflow: ellipsis;
                    height: 36px;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .list_channel, .direct_message {
                    border: 1px solid #817a7a;
                    margin-bottom: 15px;
                    padding: 15px 17px;
                    border-radius: 10px;
                    
                    .title {
                        color: white;
                        font-weight: bold;
                        letter-spacing: 0.5px;
                        font-size: 0.95rem;
                        text-align: left;
                        padding-bottom: 3px;
                        margin-bottom: 10px !important;
                        cursor: default;
                    }
                    .list {
                        max-height: 350px;
                        overflow-y: scroll;



                        .channel_item, .direct_message_item {
                            transition: all 0.5s;
                            
                            border-radius: 3px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-right: 5px;

                            p {
                                width: fit-content;
                                color: #fff;
                                font-style: italic;
                                font-size: 0.9rem;
                                margin-bottom: 0;
                                padding: 5px 10px;
                                cursor: pointer;
                            }

                            .channel_name {
                                width: 100%;
                            }
                            .icon {
                                display: flex;

                                .delete_conversation, .delete_channel {
                                    display: none;
                                    opacity: 0.7;
                                    cursor: pointer;
                                }
                            }
                            


                        }
                        .channel_item:hover, .direct_message_item:hover {
                            background-color: #187ba8;
                            
                            p {
                                font-weight: bold;
                            }

                            .delete_conversation {
                                display: initial;
                                cursor: pointer;
                            }

                            .delete_channel {
                                display: initial;
                                cursor: pointer;
                            }
                        }

                        
                    }
                }

                .direct_message {
                    .top {
                        display: flex;
                        justify-content: space-between;

                        .search_icon {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                    .mentions {
                        margin-top: 0!important;
                        width: 100%;
                        display: block;
                        height: 25px;
                        font-size: 0.8rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border-radius: .25rem;
        
                        input {
                            border: none;
                            height: 100%;
                            padding: .375rem .75rem;
                        }
        
                    }
                    .mentions__suggestions {
                        margin-top: 25px !important;
                    }
                    .mentions {
                        margin: 1em 0;
                      }
                      
                      .mentions__control {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                      }
                      .mentions__higlighter {
                        padding: 1px;
                        border: 2px inset transparent;
                        height: 100%;
                      }
                      .mentions__input {
                        padding: 5px;
                        border: 2px inset;
                      }
                      
                      .mentions--multiLine .mentions__control {
                        font-family: monospace;
                        font-size: 14pt;
                        border: 1px solid silver;
                      }
                      .mentions--multiLine .mentions__highlighter {
                        padding: 9px;
                      }
                      .mentions--multiLine .mentions__input {
                        padding: 9px;
                        min-height: 63px;
                        outline: 0;
                        border: 0;
                      }
                      
                      .mentions__suggestions__list {
                        // background-color: #0093E9;
                        // background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
                        background-color: #fff;
                        border: 1px solid rgba(0, 0, 0, 0.15);
                        font-size: 10pt;
                        font-style: italic;
                      }
                      
                      .mentions__suggestions__item {
                        padding: 5px 30px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                      }
                      
                      .mentions__suggestions__item--focused {
                        background-color: #FFDEE9;
                        background-image: linear-gradient(225deg, #FFDEE9 0%, #B5FFFC 100%);
                      }
                      
                      .mentions__mention {
                        background-color: transparent !important;
                        
                      }
                }

                .list_user, .create_channel, .create_new_user {
                    display: flex;
                    align-items: center;
                    padding: 7px 0 7px 5px;
                    background-color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-bottom: 10px;
                    .text {
                        color: rgb(86, 86, 87);
                        font-weight: normal;
                        letter-spacing: 0.5px;
                        font-size: 0.95rem;
                        text-align: left;
                        margin-bottom: 0px !important;
                        margin-left: 5px;
                    }
                }
            }
        }
    
        .right {
            background-color: #FFDEE9;
            background-image: linear-gradient(225deg, #FFDEE9 0%, #B5FFFC 100%);
            padding: 20px;
            width: calc(100% - 300px);
            height: 100%;
            // border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;

            .container_right {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 10px;
                border-radius: 20px;
                justify-content: center;
                position: relative;
                .introduce_app {
                    width: 100%;
                    height: 100%;

                    .welcome_text {
                        width: 100%;
                        height: 60px;
                        font-size: 1.3rem;
                        font-weight: bold;
                        font-style: italic;
                    }

                    .image {
                        width: 100%;
                        height: calc(100% - 60px);

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                   
                }

                .topbar {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid gray;
                    padding: 10px;
                    position: relative;
                    .friend_info {
                        display: flex;
                        flex-direction: column;
                        .name {
                            font-size: 20px;
                            font-weight: bold;
                            cursor: default;
                        }
                        .number_of_member {
                            font-size: 12px;
                            font-style: italic;
                            cursor: default;
                            svg {
                                margin-right: 5px;
                            }
                        }
                    }
                    .context_menu {
                        cursor: pointer;
                        position: relative;
                        svg {
                            transition: all 0.5s ease-in-out;
                        }
                    }
                    .context_menu:hover svg {
                        transform: scale(1.3) rotate(360deg);
                    }
                }
                .loading_content {
                    width: 100%;
                    height: 100%;
                    background-color: #FFDEE9;
                    background-image: linear-gradient(225deg, #FFDEE9 0%, #B5FFFC 100%);
                    position: absolute;
                    z-index: 1000;
                }
                .chat_content {
                    flex-grow: 1;
                    overflow-y: scroll;
                    padding: 15px 10px;
                    scroll-behavior: smooth;
                    
                    .system_message {
                        text-align: center;
                        color: #968989;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 300;
                    }
                    .no_more_to_load {
                        display: none;
                    }
                    .btn_loadmore {
                        width: 100%;
                        padding: 5px 10px;
                        text-align: center;
                        border: 1px solid #1da1f2;
                        margin-bottom: 10px;
                        border-radius: 20px;
                        color: #ffffff;
                        font-style: italic;
                        background-color: #61bff9;
                        cursor: pointer;
                        font-weight: 800;
                    }
                    .button_to_bottom {
                        display: none;
                    }
                    .my_message_item {
                        display: flex;
                        justify-content: flex-end;
                        .my_message {
                            width: 70%;
                            max-width: 500px;
                            display: flex;
                            margin-bottom: 20px;
                            flex-direction: row-reverse;
                            .avatar {
                                width: 50px;
                                height: 50px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 25px;
                                    box-shadow: -4px 12px 18px -10px rgba(0, 0, 0, 0.75);
                                }
                            }

                            .content {
                                padding-right: 5px;
                                width: calc(100% - 50px);
                                display: flex;
                                flex-direction: row-reverse;
                                .name {
                                    font-size: 14px;
                                    font-weight: lighter;
                                    font-style: italic;
                                    text-align: right;
                                    padding-right: 5px;
                                }

                                .message_content {
                                    width: fit-content;
                                    background-color: #e24177;
                                    padding: 10px 20px;
                                    color: #fff;
                                    border-top-left-radius: 20px;
                                    border-bottom-right-radius: 20px;
                                    border-bottom-left-radius: 20px;
                                    box-shadow: -5px 8px 20px -8px rgba(0, 0, 0, 0.75);

                                    a {
                                        color: #fff;
                                        text-decoration: underline;
                                    }
                                }
                                .sendtime {
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-end;
                                    padding-right: 5px;
                                    font-size: 14px;
                                    color: #817a7a;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                    #IMAGE.my_message_item, #IMAGE.other_message_item {
                        .message_content {
                            width: 300px;
                            height: 250px;
                            padding: 0;
                            background-color: transparent;
                            position: relative;
                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                                border-radius: 5px;
                            }
                        }
                    }
                    .other_message_item {
                        display: flex;
                        .other_message {
                            width: 70%;
                            max-width: 500px;
                            display: flex;
                            margin-bottom: 20px;
                            .avatar {
                                width: 50px;
                                height: 50px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 25px;
                                    box-shadow: -4px 12px 18px -10px rgba(0, 0, 0, 0.75);
                                }
                            }

                            .content {
                                padding-left: 5px;
                                width: calc(100% - 50px);
                                display: flex;
                                .name {
                                    font-size: 14px;
                                    font-weight: lighter;
                                    font-style: italic;
                                    padding-left: 5px;
                                }

                                .message_content {
                                    width: fit-content;
                                    background-color: #d1cdcd;
                                    padding: 10px 20px;
                                    border-top-right-radius: 20px;
                                    border-bottom-right-radius: 20px;
                                    border-bottom-left-radius: 20px;
                                    box-shadow: -5px 8px 20px -8px rgba(0, 0, 0, 0.75);

                                    a {
                                        color: #fff;
                                        text-decoration: underline;
                                    }
                                }
                                .sendtime {
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-end;
                                    padding-left: 5px;
                                    font-size: 14px;
                                    color: #817a7a;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
                .input_box {
                    width: 100%;
                    display: flex;
                    background-color: #a4e9e1;
                    padding: 10px 15px;
                    border-radius: 40px;
                    position: relative;

                    .additional_file {
                        box-shadow: -2px 5px 9px -5px rgba(0, 0, 0, 0.75);
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #80D0C7;
                        border-radius: 25px;
                        margin-left: 5px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }
                    .emoji_message {
                        box-shadow: -2px 5px 9px -5px rgba(0, 0, 0, 0.75);
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #80D0C7;
                        border-radius: 25px;
                        margin-left: 5px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                    .input_send_message {
                        flex-grow: 1;
                        border: none;
                        background-color: transparent;
                        padding-left: 20px;
                        font-size: large;
                        color: #5f5959;
                    }
                    .button_submit {
                        border: none;
                        background-color: #f3a4be;
                        border-radius: 35px;
                        padding: 8px;
                        cursor: pointer;

                        svg {
                            transition: all 0.5s;
                        }
                    }
                    .button_submit:hover svg{
                        transform: rotate(45deg);
                    }
                    .button_submit:hover {
                        background-color: #e24177;
                    }
                    .input_send_message:active, .button_submit:active {
                        outline: none;
                    }
                    .input_send_message:focus, .button_submit:focus {
                        outline: none;
                    }

                    .upload_file {
                        position: absolute;
                        bottom: 100%;
                        left: 15px;
                        padding: 7px;

                        .file_message {
                            box-shadow: -2px 5px 9px -5px rgba(0, 0, 0, 0.75);
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #80D0C7;
                            border-radius: 25px;
                            cursor: pointer;
                            
                            color: #000;
                            transition: all 0.3s;
                            position: relative;
                            label {
                                margin-bottom: 0!important;
                            }


                            .preview_file {
                                position: absolute;
                                left: calc(100% + 5px);
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    box-shadow: -2px 5px 9px -5px rgba(0, 0, 0, 0.75);
                                    margin-bottom: 0 !important;
                                    background-color: #e24177;
                                    padding: 5px 10px;
                                    border-radius: 20px;
                                    color: #fff;
                                }

                                .confirm_send {
                                    display: flex;
                                    margin-left: 5px;
                                }
                            }
                        }
    
                        .image_message {
                            box-shadow: -2px 5px 9px -5px rgba(0, 0, 0, 0.75);
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #80D0C7;
                            border-radius: 25px;
                            cursor: pointer;
                            color: #000;
                            transition: all 0.3s;
                            margin-bottom: 5px;
                            position: relative;
                            label {
                                margin-bottom: 0!important;
                            }

                            .preview_image {
                                position: absolute;
                                left: calc(100% + 5px);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                bottom: 0;
                                .image {
                                    width: 100px;
                                    height: 100px;
                                    border: 1px solid #5f5959;
                                    padding: 5px;
                                    border-radius: 5px;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .confirm_send {
                                    display: flex;
                                    margin-left: 5px;
                                }
                            }
                        }
    
                        .emoji_message:hover {
                            background-color: #B5FFFC;
                        }
                        .file_message:hover {
                            background-color: #a9eeec;
                        }
                        .image_message:hover {
                            background-color: #aaeeec;
                        }
                    }
                    .emoji_container {
                        position: absolute;
                        bottom: calc(100% + 5px);
                        .react-tabs__tab-list {
                            border-bottom: 0;
                            margin-bottom: 0;
                        }
                        .react-tabs__tab:focus:after {
                            content: "";
                            position: absolute;
                            height: 5px;
                            left: -4px;
                            right: -4px;
                            bottom: -5px;
                            background: transparent;
                        }
                        .react-tabs__tab--selected {
                            background: #504e4e;
                        }
                        .first_tab {
                            width: 440px;
                            height: 300px;
                            overflow-y: scroll;
                            background-color: #313131;
                            display: flex;
                            flex-wrap: wrap;
                            padding: 10px 0 10px 10px;
                            border: none;
                            border-radius: 10px;
                            border-top-left-radius: 0px;
                            
                            .emoji_item {
                                width: 32px;
                                height: 32px;
                                margin: 10px;
                                cursor: pointer;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    
                }

                
            }
        }

        .button_user_profile {
            position: absolute;
            left: 100%;
            bottom: 100%;
            background-color: #fff;
            padding: 10px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            cursor: pointer;
        }
        .user_profile {
            position: absolute;
            top: 0;
            right: 0;
            width: 700px;
            height: auto;
            max-height: 500px;
            overflow-y: scroll;
            background-color: #fff;
            border-bottom-left-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: -4px 7px 84px -4px rgba(0,0,0,0.75);
                .title {
                    // margin-bottom: 40px;
                }
        
                .form {
                    .preview_avatar {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
                        .avatar {
                            position: relative;
                            width: 130px;
                            height: 130px;
                            // padding: 6px;
                            border: 4px solid black;
                            background-color: #f5f2ee;
                            border-radius: 80px;
                            margin-right: 15px;
                            .image {
                                width: 100%;
                                height: 100%;
                                border-radius: 80px;
                            }
                            .reupload {
                                position: absolute;
                                top: -10px;
                                right: -12px;
                            }
                        }
        
                        .no_avatar {
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            .title_upload {
                                position: absolute;
                                top: 2px;
                                right: 190px;
                            }
                        }
                        .box {
                            border: 4px solid gray;
                            background-color: #f7f3f0;
                            border-radius: 90px;
                            padding: 0.5rem 0.5rem 0 0.5rem;
                            margin-left: 5px;
                        }
                        .reupload {
                            cursor: pointer;
                            background-color: #e4ddd2;
                            border-radius: 90px;
                            padding: 5px;
                            width: 40px;
                            height: 40px;
                        }
                    }
        
                    .form-group {
                        margin-bottom: 30px;
                        .input {
                            background-color: #f0f0f5;
                        }
                    }
                    .btn_submit {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .group {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .birthday {
                            flex-grow: 1;
                            margin: 0 10px 30px;
                        }

                        .phone_number {
                            flex-grow: 1;
                        }
                    }
                }
                .missing_avatar_popup-content {
                    width: 400px !important;
                    border-radius: 20px;
                    padding: 30px 25px!important;
                    .top {
                        margin-bottom: 30px;
                        .title {
                            color: #495057;
                            font-size: 16px;
                            font-weight: 600;
                            font-style: italic;
                            text-align: center;
                            span {
                                color: #eb4034;
                                font-weight: 800;
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .button {
                            border: none;
                            color: #ffffff;
                            padding: 10px 20px;
                            border-radius: 30px;
                            width: 100px;
                        }

                        .accept {
                            font-weight: 600;
                            background-color: #47b6d7;
                        }

                        .cancel {
                            background-color: #646c74;
                            
                        }
                        .button:active, .button:focus {
                            outline: none;
                        }
                    }
                }
        }
    }
    
}